<html>
    <body>
        
  

<div class="row">
    <h2><i>Over time</i></h2>
    <br>

  <div style="margin-left:140px;margin-right:140px;margin-top:10px;" align="center">
  <iframe src="static/CSS/chart.html" width="1300px" height="500px" frameBorder="0"></iframe>

  <br>

  <script type="text/javascript" src="static/js/hist_vid_perso.js"></script>
  <script type="text/javascript" src="static/js/hist_vid_glob.js"></script>

  <!--<img src='newplot.png'>-->

  <form>
    <input type="button" value="Back" onclick="history.go(-1)">
  </form>
</body>
  </html>